$primary: #70ff00;
$secondary: #161616;
$black: #000;
$white: #fff;
$light_logotext: #f2f2f2;
$light_white: #e0e0e0;
$light_dark: #828282;
$light_main_bg: linear-gradient(
  130.36deg,
  #000000 0%,
  #272727 44.03%,
  #494949 99.99%,
  #727272 100%
);
