@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./colors";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  background: $black;
  color: white;

  ul {
    list-style: none;
    outline: none;
  }
  /* --------------------------------------HEADER-------------------------------------- */
  header {
    position: relative;
    background: linear-gradient(
      130.36deg,
      #000000 0%,
      #272727 44.03%,
      #494949 99.99%,
      #727272 100%
    );
    .navbar {
      width: 100%;
      padding: 0.5rem 1rem;
      z-index: 200;
      @media screen and (min-width: 576px) {
        padding: 0.5rem 2.5rem;
      }

      @media screen and (min-width: 992px) {
        padding: 1rem 2.5rem;
      }

      @media screen and (min-width: 1200px) {
        padding: 1.5rem 3.5%;
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            color: $primary;

            /* add animation on hover  */
          }

          & > span {
            display: none;
            @media screen and (min-width: 1200px) {
              display: block;
            }
          }
        }
      }
      &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1.5rem;

        .logo {
          text-transform: uppercase;
          font-size: 1.5rem;
          line-height: 3.5rem;
          letter-spacing: 0em;
          color: $light_logotext;

          p > span {
            color: $light_dark;
          }
          @media screen and (min-width: 992px) {
            font-size: 3rem;
          }
        }

        .menu_items,
        .contact_items {
          display: none;
        }

        .toogle_btn {
          display: block;
          color: $white;
          font-size: 2rem;
          cursor: pointer;
          z-index: 100;
        }

        @media screen and (min-width: 992px) {
          .menu_items,
          .contact_items {
            display: block;
          }

          .toogle_btn {
            display: none;
          }
        }
      }
    }

    /* DROPDOWN MENU */

    .dropdown_menu {
      position: absolute;
      top: 4.5rem;
      font-size: 1rem;
      z-index: 10;
      border-radius: 1rem;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      background: linear-gradient(
        130.36deg,
        #000000 0%,
        #272727 44.03%,
        #494949 99.99%,
        #727272 100%
      );
      height: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 1rem;
      overflow: hidden;
      transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      @media screen and (min-width: 576px) {
        right: 2rem;
        width: 300px;
      }

      &.open {
        height: 20rem;
      }

      ul {
        text-align: center;
        display: grid;
        gap: 1rem;

        li {
          cursor: pointer;
          &:hover {
            color: $primary;
          }

          & > img {
            position: relative;
            inset: 0.6rem 0;
          }
        }
      }

      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }

  /* --------------------------------------MAIN--------------------------------------  */
  main {
    .hero {
      background: linear-gradient(
        130.36deg,
        #000000 0%,
        #272727 44.03%,
        #494949 99.99%,
        #727272 100%
      );
      &_inner {
        padding: 2.5rem 1rem;
        display: grid;
        gap: 5rem;
        max-height: 90%;
        @media screen and (min-width: 576px) {
          padding: 2.5rem 5rem;
        }
        @media screen and (min-width: 992px) {
          padding: 2.5rem 5%;
        }
        @media screen and (min-width: 1200px) {
          padding: 2.5rem 6%;
        }

        .hero {
          &_top {
            @media screen and (min-width: 992px) {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5rem;
            }
          }

          &_bottom {
            padding: 1rem 0;
            width: 100%;
            @media screen and (min-width: 992px) {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 2rem;
            }

            @media screen and (min-width: 1200px) {
              gap: 5rem;
            }

            @media screen and (min-width: 1600px) {
              gap: 7rem;
            }

            @media screen and (min-width: 1800px) {
              gap: 12rem;
            }

            &_left {
              width: 100%;
            }

            &_right {
              display: none;
              @media screen and (min-width: 992px) {
                display: block;
                font-family: "Courier Prime", monospace;
                display: grid;
                gap: 0.5rem;
                margin-top: 6%;
              }

              .bottom_box {
                height: 7rem;
                width: 21.5rem;
                background: #4f4f4f;
                box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                padding: 1rem;

                @media screen and (min-width: 1200px) {
                  width: 26rem;
                }
                @media screen and (min-width: 1600px) {
                  width: 30rem;
                }

                @media screen and (min-width: 1800px) {
                  width: 35rem;
                }

                &_inner {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  .left_box {
                    display: grid;
                    gap: 0.5rem;
                  }
                }

                .box_header {
                  font-family: "Courier Prime";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 1.5rem;
                  line-height: 2.5rem;

                  @media screen and (min-width: 1200px) {
                    font-size: 1.7rem;
                  }
                }

                .link_text {
                  font-family: "Courier Prime";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 1.3rem;
                  line-height: 2rem;
                  cursor: pointer;
                  color: $primary;

                  @media screen and (min-width: 1200px) {
                    font-size: 1.6rem;
                  }
                }

                p {
                }
              }
            }
          }
        }
      }

      &_top_left {
        width: 100%;
        p {
          text-align: inherit;
          font-size: 2rem;
          font-weight: 700;
          line-height: 3.5rem;
          letter-spacing: 0em;
          color: $light_white;
          @media screen and (min-width: 576px) {
            font-size: 2.5rem;
          }

          @media screen and (min-width: 1200px) {
            font-size: 3.5rem;
            line-height: 4.5rem;
          }

          @media screen and (min-width: 1600px) {
            font-size: 4rem;
            line-height: 5.5rem;
          }

          & > span {
            &.middle_text {
              @media screen and (min-width: 576px) {
                display: flex;
                justify-content: center;
              }
              @media screen and (min-width: 992px) {
                display: grid;
                justify-content: flex-start;
              }
            }
          }
          &.right_text {
            @media screen and (min-width: 576px) {
              display: flex;
              justify-content: flex-end;
            }

            @media screen and (min-width: 992px) {
              justify-content: flex-start;
            }
          }
        }
      }

      &_top_right {
        display: none;

        @media screen and (min-width: 992px) {
          display: block;
        }

        &_inner {
          width: 100%;

          img {
            width: 23rem;
            height: 100%;

            @media screen and (min-width: 1200px) {
              width: 26rem;
            }

            @media screen and (min-width: 1600px) {
              width: 30rem;
            }

            @media screen and (min-width: 1800px) {
              width: 40rem;
            }
          }
        }
      }
    }
  }
}

/* --------------------VARIABLES-------------------- */
.primary_text {
  color: $primary;

  &.big {
    font-size: 4rem;

    @media screen and (min-width: 400px) {
      font-size: 3rem;
    }
    @media screen and (min-width: 576px) {
      font-size: 3.5rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 4.5rem;
    }
    @media screen and (min-width: 1600px) {
      font-size: 5.5rem;
    }
  }

  &.header_text {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0em;
    text-align: left;
    @media screen and (min-width: 576px) {
      font-size: 3rem;
    }

    & > span {
      color: $light_white;
    }
  }
}

.small_text {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  @media screen and (min-width: 576px) {
    font-size: 1.5rem;
  }

  &.margin {
    margin-block: 1rem 0;
  }
}

.center_element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 100%;
}

/* media screens */

/*
            @media screen and (min-width: 1800px) {

            }

             @media screen and (min-width: 1600px) {
             
            
            }

             @media screen and (min-width: 1200px) {

             }

     @media screen and (min-width: 992px) {

        } 
        
        @media screen and (min-width: 576px) {
          
        } 
        
        @media screen and (min-width: 400px) {
          
        } 
        
        
        */
