@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  background: #000;
  color: white;
  /* --------------------------------------HEADER-------------------------------------- */
}
body ul {
  list-style: none;
  outline: none;
}
body header {
  position: inherit;
}
body header .navbar {
  width: 100%;
  padding: 0.5rem 1rem;
}
body header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body header .navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body header .navbar ul li:hover {
  color: #70ff00;
  /* add animation on hover  */
}
body header .navbar ul li > span {
  display: none;
}
@media screen and (min-width: 576px) {
  body header .navbar {
    padding: 0.5rem 2.5rem;
  }
}
body header .navbar_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.5rem;
}
body header .navbar_inner .logo {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 3.5rem;
  letter-spacing: 0em;
  color: #f2f2f2;
}
body header .navbar_inner .logo p > span {
  color: #828282;
}
@media screen and (min-width: 992px) {
  body header .navbar_inner .logo {
    font-size: 3rem;
  }
}
body header .navbar_inner .menu_items,
body header .navbar_inner .contact_items {
  display: none;
}
body header .navbar_inner .toogle_btn {
  display: block;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}
@media screen and (min-width: 992px) {
  body header .navbar_inner .menu_items,
  body header .navbar_inner .contact_items {
    display: block;
  }
  body header .navbar_inner .toogle_btn {
    display: none;
  }
}
body header .dropdown_menu {
  position: absolute;
  top: 4rem;
  font-size: 1rem;
  border-radius: 1rem;
  z-index: 10;
  background: #161616;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}
@media screen and (min-width: 576px) {
  body header .dropdown_menu {
    right: 2rem;
    width: 300px;
  }
}
body header .dropdown_menu.open {
  height: 20rem;
}
body header .dropdown_menu ul {
  text-align: center;
  display: grid;
  gap: 1rem;
}
body header .dropdown_menu ul li {
  cursor: pointer;
}
body header .dropdown_menu ul li:hover {
  color: #70ff00;
}
body header .dropdown_menu ul li > img {
  position: relative;
  inset: 0.6rem 0;
}
@media screen and (min-width: 992px) {
  body header .dropdown_menu {
    display: none;
  }
}
body main .hero_inner {
  padding: 2.5rem 1rem;
  display: grid;
  gap: 7rem;
  max-height: 90%;
  border: 1px solid red;
}
@media screen and (min-width: 576px) {
  body main .hero_inner {
    padding: 2.5rem 5rem;
  }
}
body main .hero_inner .hero_bottom {
  padding: 1rem 0;
  width: 100%;
}
body main .hero_top_left {
  width: 100%;
}
body main .hero_top_left p {
  text-align: inherit;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0em;
  color: #e0e0e0;
}
@media screen and (min-width: 576px) {
  body main .hero_top_left p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 576px) {
  body main .hero_top_left p > span.middle_text {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 576px) {
  body main .hero_top_left p.right_text {
    display: flex;
    justify-content: flex-end;
  }
}
body main .hero_top_right {
  display: none;
}

/* --------------------VARIABLES-------------------- */
.primary_text {
  color: #70ff00;
}
.primary_text.big {
  font-size: 4rem;
}
@media screen and (min-width: 400px) {
  .primary_text.big {
    font-size: 3rem;
  }
}
@media screen and (min-width: 576px) {
  .primary_text.big {
    font-size: 3.5rem;
  }
}
.primary_text.header_text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 576px) {
  .primary_text.header_text {
    font-size: 3rem;
  }
}
.primary_text.header_text > span {
  color: #e0e0e0;
}

.small_text {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 576px) {
  .small_text {
    font-size: 1.5rem;
  }
}
.small_text.margin {
  margin: 1rem 0;
}

.center_element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  padding: 1rem;
  width: 100%;
}/*# sourceMappingURL=main.css.map */