@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "./colors";
@import "./media_screens";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  background: #000;
  color: white;

  ul {
    list-style: none;
  }
  /* --------------------------------------HEADER-------------------------------------- */
  header {
    position: inherit;
    .navbar {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            color: $primary;

            /* add animation on hover  */
          }

          & > span {
            display: none;
          }
        }
      }

      width: 100%;
      padding: 0.5rem 1rem;
      @media screen and (min-width: 576px) {
        padding: 0.5rem 2.5rem;
      }

      &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1.5rem;

        .logo {
          text-transform: uppercase;
          font-size: 1.5rem;
          line-height: 3.5rem;
          letter-spacing: 0em;
          color: #f2f2f2;

          p > span {
            color: #828282;
          }
          @media screen and (min-width: 992px) {
            font-size: 3rem;
          }
        }

        .menu_items,
        .contact_items {
          display: none;
        }

        .toogle_btn {
          display: block;
          color: $white;
          font-size: 2rem;
          cursor: pointer;
          z-index: 100;
        }

        @media screen and (min-width: 992px) {
          .menu_items,
          .contact_items {
            display: block;
          }

          .toogle_btn {
            display: none;
          }
        }
      }
    }

    .dropdown_menu {
      position: absolute;
      top: 4rem;
      font-size: 1rem;
      border-radius: 1rem;
      z-index: 10;
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(20px);
      height: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 1.5rem;
      overflow: hidden;
      transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 100;

      @media screen and (min-width: 576px) {
        right: 2rem;
        width: 300px;
      }

      &.open {
        height: 25rem;
        border: 1px solid red;
      }

      ul {
        text-align: center;
        display: grid;
        gap: 1.5rem;

        li {
          cursor: pointer;
          &:hover {
            color: $primary;
          }

          & > img {
            position: relative;
            inset: 0.6rem 0;
          }
        }
      }

      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }

  .main {
    color: white;
    border: 1px solid red;
  }
}
